@import "variables.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  /* overflow: hidden; */
}
body {
  font-family: "Inter", sans-serif;
  line-height: 1;
  font-weight: 400;

  overflow-x: hidden;
}

.margin-bottom-vsmall {
  margin-bottom: 16px !important;
}
.margin-top-vsmall {
  margin-top: 1.6rem !important;
}
.margin-top-large {
  margin-top: 4.8rem !important;
}
.text-center {
  text-align: center;
}
.margin-bottom-small {
  margin-bottom: 24px !important;
}
.margin-bottom-medium {
  margin-bottom: 32px !important;
}
.margin-bottom-large {
  margin-bottom: 48px !important;
}

.container {
  max-width: 90%;
  margin: 0 auto;
}

.cta-btn:link,
.cta-btn:visited {
  display: inline-block;
  text-decoration: none;

  font-weight: 400;
  font-size: 1.6rem;
  padding: 0.8rem 1.2rem;
  transition: all 0.3s;

  border-radius: 9px;
  color: var(--color-bg-white);
  background-color: var(--color-secondary);
  outline: none;
  border: none;
}

.cta-btn:hover,
.cta-btn:active {
  background-color: var(--color-secondary-light);

  outline: none;
  border: none;
}
.cta-btn:focus {
  background-color: var(--color-secondary-light);
  outline: none;
  border: none;
}

/* animation styles */

.section {
  transition: transform 2s, opacity 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}
