.section-services {
  background-color: var(--color-bg-secondary);
  padding: 5.4rem 0 8rem 0;
}
.services-heading {
  font-size: 3.2rem;
  color: var(--color-text-primary);
  font-weight: 400;
  letter-spacing: 0.75px;
  font-weight: 500;
}
.service-img {
  width: 10rem;
  height: 10rem;
}

.services-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.services-card {
  display: flex;

  max-width: 35rem;
  flex-direction: column;
  gap: 2.6rem;
  background-color: var(--color-bg-primary);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

  padding: 2.4rem;
}
.card-heading {
  color: var(--color-text-primary);
  text-transform: uppercase;
}

.services-card .para {
  color: var(--color-text-secondary);
}
