.section-services {
  background-color: #e0f1f9;
  padding: 5.4rem 0 8rem 0;
}
.services-heading {
  font-size: 3.2rem;
  color: #24556e;
  font-weight: 400;
  letter-spacing: 0.75px;
  font-weight: 500;
}
.service-img {
  width: 10rem;
  height: 10rem;
}

.services-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.6rem;
}
.services-card {
  display: flex;

  max-width: 35rem;
  flex-direction: column;
  gap: 2.6rem;
  background-color: rgb(216, 237, 247);
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);

  padding: 2.4rem;
}
.card-heading {
  color: #24556e;
  text-transform: uppercase;
}

.services-card .para {
  color: #7e8b92;
}
